.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  .description__img-wrapper {
    flex: 0 0 50%;
    min-height: 153px;

    @include tablet {
      flex: 0 1 30%;
    }

    &--left {
      img {
        height: 100%;
        transform: translateX(-6.5px);
      }
    }

    &--right img {
      height: 100%;
      transform: translateX(6.5px);
    }
  }

  .description__text {
    flex: 0 0 100%;

    @include tablet {
      flex: 0 0 30%;
    }

    & h1 {
      margin: 40px auto 45px;
      text-align: center;
      width: 327px;
      display: flex;
      justify-content: center;
      font-size: 40px;
      color: #28283d;
    }

    p {
      width: 327px;
      color: #87879d;
      font-size: 16px;
      text-align: center;
      margin: auto;
      width: 327px;
      height: 78px;
      font-size: 16px;
      line-height: 26px;
    }

    button {
      height: 58px;
      display: block;
      margin: auto;
      border-radius: 30px;

      &.download {
        margin-top: 40px;
        width: 193px;
        background-color: #4D96A9;

        & span {
          color: #8FE3F9;
        }
      }

      &.what {
        margin-top: 20px;
        width: 139px;
        background-color: #855FB1;
      }
    }
  }
}
